  <!DOCTYPE html>
  <html lang="zh-CN" debug='true'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link href="" rel="icon">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/resource/css/flaticon/flaticon.css"> 
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/resource/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/resource/css/common/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/resource/css/common/media856.css">
    <script src="__PUBLIC__/resource/js/jquery/jquery-1.7.2.min.js"></script>
  </head>
  <body>
<div class="topbar">
  <div class="left menutoggler">
    <i class="flaticon-list95"></i>
  </div>
  <!-- <img src="../resource/img/logo.png" class="logo" /> -->
  
  <div class="right">
    <div class="navblock"><i class="flaticon-contacts1"></i></div>
    <div class="navblock"><i class="flaticon-opened4"></i></div>
    <div class="navblock">
      <i class="flaticon-notify"></i>
      <i class="flaticon-social11 noticenumbox"></i>
      <span class="noticenum">10</span>
    </div>
    <div class="navblock usermenutoggler">Welcome, 徐圆圆</div>
    <!-- <div class="portrait usermenutoggler">
      <img src="../resource/img/portrait.jpg" alt="">
    </div> -->
  </div>
</div>
<div class="leftside">
  <div class="search">
    <p class="logo">诊中后台管理系统</p>
  </div>
  <ul class="menu">
    <li data-href="__URL__/ui.html">
      <a>
         <span class="icon"><i class="flaticon-star8"></i></span>
         <span class="title">UI组件库</span>
      </a>
    </li>
    <li class="havesub">
       <a>
         <span class="icon"><i class="flaticon-house3"></i></span>
         <span class="title">用户管理</span>
         <span class="arrow">
          <i class="flaticon-previous2"></i>
          <i class="flaticon-expand38"></i>
        </span>
       </a>
       <ul class="submenu">
         <li data-href="__URL__/registeruser.html"><a>注册用户管理</a></li>
         <li data-href="__URL__/message.html"><a>私信管理</a></li>
         <li data-href="__URL__/usage.html"><a>平台使用量报告</a></li>
      </ul>
    </li>
    <li>
      <a>
         <span class="icon"><i class="flaticon-star8"></i></span>
         <span class="title">资讯管理</span>
      </a>
       <ul class="submenu">
         <li data-href="__URL__/lblist.html"><a>首页轮播图管理</a></li>
         <li data-href="__URL__/newslist.html"><a>首页医疗经验管理</a></li>
          <li data-href="__URL__/articlelist.html"><a>文章管理</a></li>
      </ul>
    </li>
    <li>
        <a>
         <span class="icon"><i class="flaticon-shopping145"></i></span>
         <span class="title">关于我们</span>
       </a>
    </li>
    <li>
        <a>
         <span class="icon"><i class="flaticon-squares36"></i></span>
         <span class="title">联系我们</span>
       </a>
    </li>
    <li>
      <a>
       <span class="icon"><i class="flaticon-luggage18"></i></span>
       <span class="title">字典管理</span>
     </a>
    </li>
    <li>
      <a>
       <span class="icon"><i class="flaticon-bars62"></i></span>
       <span class="title">订单信息</span>
     </a>
    </li>
    <li>
      <a>
       <span class="icon"><i class="flaticon-folder23"></i></span>
       <span class="title">医师管理</span>
     </a>
      <ul class="submenu">
         <li data-href="__URL__/keshilist"><a>科室管理</a></li>
         <li data-href="__URL__/doctorlist"><a>医师管理</a></li>
      </ul>
    </li>
    <li>
      <a>
       <span class="icon"><i class="flaticon-tool14"></i></span>
       <span class="title">后台管理</span>
      </a>
       <ul class="submenu">
         <li data-href="__URL__/adminmanage"><a>管理员管理</a></li>
         <li data-href="__URL__/selfeditview"><a>修改管理员个人信息</a></li>
          <li data-href="__URL__/adminrecordlist.html"><a>操作记录</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="rightside">
    <div class="date">
        Thursday, 2015-07-02
    </div>
    <ul class="menu">
      <li class="havesub">
        <a>
           <span class="icon"><i class="flaticon-business64"></i></span>
           <span class="title">Current User Position</span>
           <span class="arrow">
            <i class="flaticon-previous2"></i>
            <i class="flaticon-expand38"></i>
          </span>
        </a>
        <ul class="submenu">
           <li class="set">
              <a>Position Name 1
                <i class="flaticon-check30"></i>
              </a>
           </li>
           <li>
              <a>Position Name 2
                <i class="flaticon-check30"></i>
              </a>
           </li>
           <li>
              <a>Position Name 3
                <i class="flaticon-check30"></i>
              </a>
           </li>
        </ul>
      </li>
      <li>
        <a id="changepasswordbtn">
           <span class="icon"><i class="flaticon-key196"></i></span>
           <span class="title">Change Password</span>
        </a>
      </li>
      <li>
        <a id="signout">
           <span class="icon"><i class="flaticon-sign4"></i></span>
           <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>
</div>
<div class="content" id="content">
  <iframe src="../usermanage/registeruser.html" width="100%" height="600px" frameborder="0"></iframe>
</div>
<div class="masklayer">
    <div class="alertbox">
      <div class="title"><span>Select Department</span>
        <i class="flaticon-cancel33"></i>
      </div>
      <div class="cont">
      </div>
      <div class="btngroup">
        <a class="btn confirmbtn" style="background-color:#dd4340;color:#fff;">Confirm</a>
        <a class="btn cancelbtn">Cancel</a>
        <a class="btn okbtn"></a>
      </div>
    </div>
    <div class="loadingbox">
      <img src="../resource/img/loading.gif"></div>
    </div>
</div>
<div class="loadinglayer"></div>
<!-- 弹出的窗口需要嵌入的代码 弹出方法见下一个注释 -->
<div class="masklayercont">
  <table class="ui-message" id="infomessage">
    <tr>
      <td class="tipicon infocolor"><i class="flaticon-info27"></i></td>
      <td class="tipword">
          <p>Info</p>
          <p>This is an informative message.</p>
      </td>
    </tr>
  </table>
  <table class="ui-message" id="successmessage">
    <tr>
      <td class="tipicon successcolor"><i class="flaticon-circle108"></i></td>
      <td class="tipword">
          <p>Success!</p>
          <p>This is a successful message.</p>
      </td>
    </tr>
  </table>
  <table class="ui-message" id="errormessage">
    <tr>
      <td class="tipicon errorcolor"><i class="flaticon-close12"></i></td>
      <td class="tipword">
          <p>Error!</p>
          <p>This is a error message.</p>
      </td>
    </tr>
  </table>
  <table class="ui-message" id="warnmessage">
    <tr>
      <td class="tipicon errorcolor"><i class="flaticon-triangle38"></i></td>
      <td class="tipword">
          <p>Warning</p>
          <p>This is a warning message.</p>
      </td>
    </tr>
  </table>
  <table id="changepasswordtable" class="formtable" style="width:520px;margin-left:30px;">
    <tr>
      <td width="155">Old Password</td>
      <td><input name="oldpassword" type="password" /></td>
    </tr>
    <tr>
      <td>New Password</td>
      <td><input name="newpassword" type="password" /></td>
    </tr>
    <tr>
      <td style="vertical-align:top;padding-top:20px;">Repeat New Password</td>
      <td><input name="repeatnewpassword" type="password" /></td>
    </tr>
  </table>
<!--
  //方法：首先克隆你想要的内容代码，然后调用artalert函数
  //artalert函数接受3个参数，
  //第一个参数是alert框的标题
  //第二个参数是你复制的内容
  //第三个参数可不传入；若传入则只显示一个按钮；
  //请把alert需要展示的内容写在.masklayercont里；
  //各个页面所需alert内容不同，建议不写在public.html里，而是写在所需页面里，这里只作example
  //下面是相关js代码
  var cont = $("#suremessage").clone();
      artalert("Success!",cont,"OK");
-->
</div>

<div class="ui-scroll"></div>
<script src="__PUBLIC__/resource/js/common/public.js"></script>
<script>
  $("#changepasswordbtn").bind('click',function(){
      var cont = $("#changepasswordtable").clone();
      artalert("Change Password",cont);
  })
</script>
</body>
</html>

